
.blog-tags {
  margin-top:50px;
}

.single h1, .single h2 {
    margin-top: 40px;
  }

.single h2:first-of-type {
  margin-top:20px;
}

.posts-heading h1 {
  font-size: 80px;
  font-weight: 800;
}

h1, h2, h3 {
  font-weight: 600
}

h2 {
  font-size: 40px;
}


.single h1 {
  font-size: 60px;
}

.single h3 {
  margin-top: 20px;
}


.single img {
  float: right
}


pre {
  font-size: 1em;
}